body{
    background-color: #D4D8DD;
    padding: 0px 20px 0px 20px;
}
.navbar{
    background: linear-gradient(
        134.15deg,
        rgba(53, 114, 142, 1) 0%,
        rgba(15, 32, 40, 1) 99.08997416496277%
    )
}

.home{
    background: #D4D8DD;
}

#contoh-soal{
  background: linear-gradient(
        134.15deg,
        rgba(53, 114, 142, 1) 0%,
        rgba(15, 32, 40, 1) 99.08997416496277%
    )
}

.title {
    background: linear-gradient(
    90.92deg,
    rgb(53, 114, 142) 0%,
    rgba(15, 32, 40, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 63px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.fontTitle {
    background: #D4D8DD;
    background-clip: text;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat-Extra        Bold", sans-serif;
    font-size: 63px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.font {
        font-family: "Montserrat";
        color: #D4D8DD;
    }

.font2 {
        font-family: "Montserrat";
        color: #000;
    }

.fontTitle2{
background: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat-Extra        Bold", sans-serif;
    font-size: 63px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.justify {
    margin: 0;
    text-align: justify;
}

/* style.css */

/* Global styles */

  
  
  /* Container untuk Kalkulator */
  .container1 {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
  }
  
  /* Heading untuk kalkulator */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Label input fields */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  /* Styling untuk input fields dan select */
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Styling untuk button */
  button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(
      134.15deg,
      rgba(53, 114, 142, 1) 0%,
      rgba(15, 32, 40, 1) 99.08997416496277%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(
        134.15deg,
        rgba(53, 114, 142, 1) 0%,
        rgba(15, 32, 40, 1) 99.08997416496277%
    );
  }
  
  /* Styling untuk hasil kalkulator */
  #result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  